<% if @user_detail.errors.any? %>
  
    <div class="alert alert-error">
      The form contains <%= pluralize(@user_detail.errors.count, "error") %>.
    </div>
    <ul>
    <% @user_detail.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
 
<% end %>
