	
	<!-- BEGIN SIDEBAR -->
	<!-- BEGIN MENU -->
	<div class="page-sidebar" id="main-menu"> 
		  <div class="page-sidebar-wrapper" id="main-menu-wrapper">
		<!-- BEGIN MINI-PROFILE -->
		<div class="user-info-wrapper">	
			
				<%= image_tag "brad.jpg", data: { src: "brad.jpg", src_retina: "brad.jpg" }, :class => 'profile-wrapper', :size => "69x69" %> 
			
			<div class="user-info">
			<% if user_signed_in? %>
				<div class="greeting">Welcome</div>
				<div class="username"><%= current_user.name %> <span class="semi-bold">Hunt</span></div>
				<div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
			<% end %>
			</div>
			
			
		</div>
		<!-- END MINI-PROFILE -->
		<!-- BEGIN SIDEBAR MENU -->	
		</br>
		<ul>	
			
			<!-- BEGIN BADGE LINK -->
			<li class="">
				<a href="#">
					<i class="fa fa-envelope"></i>
					<span class="title">Messages</span>
					<span class="badge badge-disable pull-right">203</span>
				</a>
			</li>
			<!-- END BADGE LINK -->     
			<!-- BEGIN SINGLE LINK -->
			<li class="">
				<a href="#">
					<i class="fa fa-flag"></i>
					<span class="title">Notifications</span>
				</a>
			</li>
			<!-- END SINGLE LINK -->    
			
			<!-- BEGIN TWO LEVEL MENU -->
			<li class="">
				<a href="javascript:;">
					<i class="fa fa-folder-open"></i>
					<span class="title">Previous offers</span>
					<span class="arrow"></span>
				</a>
				
			</li>
			<!-- END TWO LEVEL MENU -->			
		</ul>
		<!-- END SIDEBAR MENU -->
		
	</div>
	</div>
	<!-- BEGIN SCROLL UP HOVER -->
	<a href="#" class="scrollup">Scroll</a>
	<!-- END SCROLL UP HOVER -->
	<!-- END MENU -->
	
	<!-- END SIDEBAR --> 
