	
	<!-- BEGIN SIDEBAR -->
	<!-- BEGIN MENU -->
	<div class="page-sidebar" id="main-menu"> 
		  <div class="page-sidebar-wrapper" id="main-menu-wrapper">
		<!-- BEGIN MINI-PROFILE -->
		<div class="user-info-wrapper">	
			<div class="user-info">
			
				<div class="greeting">Welcome</div>
				<div class="username"><%= current_user.name %> </div>
				
		
			</div>
			
			
		</div>
	</br>
		<ul>	
			          <li class=""> 			 		
					<%= link_to '<i class="fa fa-search-plus"></i>Candidate search'.html_safe, user_details_path %>
					 </li>	
				  
					
					
				
			    </li>
			
				
		</ul>
		<!-- END SIDEBAR MENU -->
		
			
			
		
	</div>
	</div>
	<!-- BEGIN SCROLL UP HOVER -->
	<a href="#" class="scrollup">Scroll</a>
	<!-- END SCROLL UP HOVER -->
	<!-- END MENU -->
	
	<!-- END SIDEBAR --> 
